artirat-client/target/
artirat-client/Cargo.lock
artirat-server/target/
artirat-server/Cargo.lock
artirat-client/config/hostname
artirat-server/config
artirat-client/config
.c2*
keylogger/
__pycache__/
__pycache__/*
